
<% if logged_in? %>

<div class= "not-card"> 
<h1>Welcome</h1>
<h4><%= current_user.name %></h4>

</div>

<% else %>

<div class= "card"> 
<h1>Welcome</h1>
<%= button_to "Login", '/login', method: :get, class: 'btn button1 mv-20 btn-wid' %>
<%= button_to "Sign Up", '/users/new', method: :get, class: 'btn button1 button2 mv-20 btn-wid'%>
</div>

<% end %>
