<%= form_with url: password_reset_path do |form| %>
    <div class="form-group card">
        <h2>Forget your password?</h2>
        <div>
        <%= form.text_field :email, class:"form-control mv-20", placeholder: "Email" %>
        </div>
        
        <%= form.submit "Reset", class:"btn button1 mv-20" %>
    </div>

  <% end %> 